
body{
  border: 1px solid black;
  background-color: #efefef;
  font-family: "Montserrat", sans-serif !important;
}

header{
  background-color: #364552;
  color: white;
  height: 200px;
}

.seccion1{
  margin-top: 40px;
}

.post{
  height: 400px;
  width: 440px;  

}

.seccion1 article{
  background-color: gray;
  border-radius: 2rem;
} 

footer{
margin-top: 40px;
background-color: #364552;
color: white;
}

