
body.byteStorm{
  border: 1px solid black;
  background-color: #1a1818 ;
  font-family: "Montserrat", sans-serif ;
  color: white;
}

header{
  background-color: #364552;
  height: 200px;
}

header img{
  margin-left: 25px;
}

.seccion1{
  margin-top: 40px;
}

.post{
  height: 650px;
  width: 440px;  

}

.seccion1 article{
  background-color: #868686;
  border-radius: 2rem;
} 

footer{
margin-top: 40px;
background-color: #364552;
}

footer a{
transition: color 0.3s ease;
text-decoration: none;
color: white;
}

footer a:hover{
  color: cornflowerblue;
}


